.painel-botoes {
  width: 200px;
  font-weight: bold;
}

.painel {
  background-color: #636463;
  height: 70px;
  color: white;
  font-size: 22px;
  text-align: end;
  line-height: 50px;
  padding-right: 5px;
}

.botao-ac,
.botao-numero,
.botao-operacao,
.botao-zero {
  float: left;
  text-align: center;
  border: 1px solid #ABABAB;
  cursor: pointer;
}


.botao-ac {
  width: 148px;
  height: 48px;
  background-color: #F1F1F1;
  line-height: 48px;
}

.botao-ac:hover {
  opacity: .5;
}

.botao-operacao {
  width: 48px;
  height: 48px;
  background-color: #FA8131;
  color: white;
  text-align: center;
  line-height: 48px;
}

.botao-operacao:hover {
  opacity: .5;
}

.botao-numero {
  width: 48px;
  height: 48px;
  background-color: #F1F1F1;
  line-height: 48px;
}

.botao-numero:hover {
  opacity: .5;
}

.botao-zero {
  width: 98px;
  height: 48px;
  background-color: #F1F1F1;
  line-height: 48px;
}

.botao-zero:hover {
  opacity: .5;
}